{% extends 'base.html' %}
{% block content %}
<div class="slider">
    <input class="hiddenInput" type="radio" name="switcher" id="slide1" checked><label class="slideMenu" style="margin-left: 4%;" for="slide1"><h6>КЛАССИФИКАЦИЯ</h6></label>
    <input class="hiddenInput" type="radio" name="switcher" id="slide2"><label class="slideMenu" for="slide2"><h6>РАСЧЕТ</h6></label>
    <input class="hiddenInput" type="radio" name="switcher" id="slide3"><label class="slideMenu" for="slide3"><h6>АНАЛИЗ</h6></label>

    <div class="slider-block">
        <div class="slides">
            <div class="slide">
                {% include 'classification.html' %}
            </div>

            <div class="slide">
                {% include 'calculation.html' %}
            </div>

            <div class="slide">
                {% include 'visualisation.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='scripts/interaction.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/ajaxQueries.js')}}"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{% endblock %}