<style>
    #analyzeResult table {
        display: block;
        overflow-x: auto;
    }

    #analyzeResult table thead th {
        background-color: #3c6382;
        color: #ffffff;
    }

    #analyzeResult table thead th,
    #analyzeResult table tbody td {
        padding: 10px;
    }

    #analyzeResult tbody tr:nth-child(even) {
        background-color: #f5f6fa;
    }

    #analyzeResult tbody tr:nth-child(odd) {
        background-color: #dcdde1;
    }
</style>
{% if errors %}
<h3>При выполнении анализа обнаруженны ошибки: </h3>
<ol>
{% for error in errors %}
    <li>{{error}}</li>
{% endfor %}
</ol>
{% else %}
<h3>Результат анализа</h3>
<table>
    <thead>
        <tr>
            <th>Method name</th>
            <th>Test statistic name</th>
            <th>Sample size</th>
            <th>Number of groups</th>
            <th>Test statistic</th>
            <th>P-Value</th>
            <th>Number of Permutations</th>
        </tr>
    </thead>
    <tbody>
        {% if result.ANOSIM %}
        <tr>
            {% for cell in result.ANOSIM %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endif %}
        {% if result.PERMANOVA %}
        <tr>
            {% for cell in result.PERMANOVA %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endif %}
    </tbody>
</table>
{% endif %}