<h4>Маркировка данных</h4>
<form id="uploadBreakdown" method="post" enctype="multipart/form-data">
    <p><input type="file" class="form-control" name="breakdown" /></p>
    <p><input id="uploadBreakdownBtn" class="btn btn-outline-secondary" type="button"
            value="Загрузить разбивку данных" /></p>
</form>
<span id="breakdownDisplay"></span>
<hr class="mb-5">

<form id="vslForm" method="post" enctype="multipart/form-data">
    <h4>Меры различий</h4>


    <select name="convergenceType" id="convergenceType">
        <option value="euclidean" selected>Евклидово расстояние</option>
        <option value="braycurtis">Несходство Брея-Кертиса</option>
        <option value="jaccard">Расстояние Жаккара</option>
        <option value="weighted_unifrac">Взвешенный UniFrac</option>
        <option value="unweighted_unifrac">Невзвешенный UniFrac</option>
    </select>

    <div class="d-none unifrac-data">
        <p>Загрузить дерево: <input type="file" name="unifrac_data__tree"></p>
        <p>Загрузить идентификаторы OTU: <input type="file" name="unifrac_data__otu"></p>
    </div>

    <h4>Кластеризация</h4>
    <div class="d-block">
        <label for="n_clusters">Количество кластеров: </label>
        <input type="number" id="n_clusters" name="n_clusters" value="3">
    </div>
    
    <select name="clusterMethod" id="clusterMethod">
        <option value="none" selected>-</option>
        <option value="k_avg">К-средних</option>
        <option value="hierarchical_clustering" data-target="#linkage">Иерархическая кластеризация</option>
        <option value="DBSCAN" data-target="#DBSCAN__eps">DBSCAN</option>
        <option value="bayesian_gaussian_mixture" data-target="#bayesian_gaussian_mixture__random_state">Байесовская гауссовская смесь</option>
    </select>

    <div id="DBSCAN__eps" class="d-none togglable">
        <label for="DBSCAN__input">eps</label>
        <input type="text" id="DBSCAN__input" name="DBSCAN__input">
    </div>
    <div id="bayesian_gaussian_mixture__random_state" class="d-none togglable">
        <label for="bayesian_gaussian_mixture__input">random_state</label>
        <input type="text" id="bayesian_gaussian_mixture__input" name="bayesian_gaussian_mixture__input">
    </div>
    <div id="linkage" class="d-none togglable">
        <label for="linkageSelect">Критерий связывания</label>
        <select id="linkageSelect" name="linkage">
            <option value="ward" selected>ward</option>
            <option value="average">average</option>
            <option value="single">single</option>
            <option value="complete">complete</option>
        </select>
    </div>
    <hr class="mb-5">

    <h4>Параметры визуализации</h4>
    <div class="d-block pt-2">
        <div class="d-block">
            <input type="checkbox" name="method" id="pca" value="pca">
            <label for="pca">PCA</label>
        </div>

        <div class="d-block">
            <input type="checkbox" name="method" id="mds" value="mds">
            <label for="mds">MDS</label>
        </div>

        <div class="d-block">
            <input type="checkbox" name="method" id="t_sne" value="t_sne" onclick="showElement('#perplexity')">
            <label for="t_sne" >t-SNE</label>
        </div>

        <div class="d-none" id="perplexity">
            <label for="perplexityInput">perplexity</label>
            <input id="perplexityInput" type="number" name="perplexity" value="2" placeholder="perplexity">
        </div>
    </div>
    <div id="vslFormBtn" class="btn btn-success my-3">Построить график</div>
</form>
<hr class="mb-5">
<h4>Результаты визуализации</h4>
<span id="vslSlide">
    {% include 'analisisVsl.html' %}
</span>
<div class="d-flex" style="justify-content: space-between;">
    <select id="exportFormat">
        <option value="png" selected>png</option>
        <option value="jpeg">jpeg</option>
        <option value="svg">svg</option>
        <option value="pdf">pdf</option>
    </select>
    <a href="/download/plots?export_format=png" id="vslExportPlotsBtn" class="btn btn-outline-secondary">Экспорт графиков</a>
</div>

<form id="analyzeForm">
    <h4>Оценка статистической достоверности различий</h4>
    <p>
        <input type="checkbox" name="statMethod" value="permanova" id="permanova"> 
        <label for="permanova">PERMANOVA</label>
    </p>
    <p>
        <input type="checkbox" name="statMethod" value="anosism" id="anosism">
        <label for="anosism">ANOSISM</label> 
    </p>
    <div class="btn btn-success" id="analyzeBtn">Провести анализ</div>
</form>